<section class="chat__arena__history">
  <article class="chat__arena__messages">
    <article class="chat__arena__message__content">
      @for (message of messages$ | async; track message.text) {
      @if (message.sender === 'user') {
      <article class="chat__arena__message">
        <article class="chat__arena__text chat__arena__question">
          {{ message.text }}
        </article>
      </article>
      } @else {
      <article class="chat__arena__message">
        <article class="chat__arena__text chat__arena__text__answer">
          <article class="chat__arena__answer__content chat__arena__answer__first">
            {{ message.text[0] }}
          </article>
          <article class="chat__arena__answer__content chat__arena__answer__second">
            {{ message.text[1] }}
          </article>
        </article>
      </article>
      }
    }
    </article>
  </article>
  <article class="chat__arena__keyboard">
    <app-keyboard-component />
  </article>
</section>