<section class="nav__section">
    <ul>
        <li><app-nav-chat /></li>
        <li><app-nav-chat /></li>
        <li><app-nav-chat /></li>
        <li><app-nav-chat /></li>
        <li><app-nav-chat /></li>
    </ul>
    <article class="nav__section__footer">
        <article class="nav__section__feedback">
            <p>Send Feedback</p>
            <p>Report Bugs</p>
        </article>
        <article class="nav__section__rules">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
            <p>Cookies</p>
        </article>
    </article>
</section>