<section class="nav__section">
    <article class="nav__section__title" [routerLink]="''">BattleChat</article>
    <ul class="nav__section__list">
        @for (chat of chats; track chat.id) {
        <li>
            <app-nav-chat [id]="chat.id" [name]="chat.name" />
        </li>
        } @empty {
        <article>Нет чатов</article>
        }
    </ul>
    <article class="nav__section__footer">
        <article class="nav__section__feedback">
            <p>Send Feedback</p>
            <p>Report Bugs</p>
        </article>
        <article class="nav__section__rules">
            <p>Terms of Use</p>
            <p>Privacy Policy</p>
            <p>Cookies</p>
        </article>
    </article>
</section>