:root {
    --light-grey-color: #ddd;
}

*, *::after, *::before {
    font-family: 'Roboto', sans-serif;
}


@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf')
}